<!DOCTYPE html>
<html dir="rtl">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="/semantic/semantic.rtl.min.css">
  <!-- build:style buildCSS  -->
  <link rel="stylesheet" href="/packages/github/OwlFonk/OwlCarousel@1.3.2/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="/packages/github/OwlFonk/OwlCarousel@1.3.2/owl-carousel/owl.theme.css">
  <!-- /build -->
  <title></title>
</head>

<body>
  <div id="loader" class="ui active loader"></div>
  <div id="main" style="display: none">
    <header-menu></header-menu>
    <div id="content" ng-view="">

    </div>
    <footer>
      <div class="ui container">
        <div class="ui stackable grid">
          <div class="row">

          </div>
          <div class="row">
            <div class="copyright ten wide centered column">
              حقوق معنوی و مادی محتوای این سایت در اختیار
              <a href="http://uvgraphic.co">کانون تبلیغات ماورای بنفش</a> می‌باشد.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- build:script buildJS -->
  <script src="/packages/system.js"></script>
  <script src="/config.js"></script>
  <script>
    System.import('js/main/index');
  </script>
  <!-- /build -->
</body>

</html>
