@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
@font-face {
  font-family: 'IRYekan';
  src: url('../fonts/IRYekan.eot');
  src: url('../fonts/IRYekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/IRYekan.woff') format('woff'), /* Modern Browsers */ url('../fonts/IRYekan.ttf') format('truetype');
  font-weight: normal;
  
  /* IE9 Compat Modes */
}
@font-face {
  font-family: 'IRYekan';
  src: url('../fonts/IRYekanBold.eot');
  src: url('../fonts/IRYekanBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/IRYekanBold.woff') format('woff'), /* Modern Browsers */ url('../fonts/IRYekanBold.ttf') format('truetype');
  font-weight: bold;
  
  /* IE9 Compat Modes */
}
/*
 * Noto Kufi Arabic (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoKufiArabic-Regular.eot);
  src: url(../fonts/NotoKufiArabic-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/NotoKufiArabic-Regular.woff2) format('woff2'), url(../fonts/NotoKufiArabic-Regular.woff) format('woff'), url(../fonts/NotoKufiArabic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoKufiArabic-Bold.eot);
  src: url(../fonts/NotoKufiArabic-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/NotoKufiArabic-Bold.woff2) format('woff2'), url(../fonts/NotoKufiArabic-Bold.woff) format('woff'), url(../fonts/NotoKufiArabic-Bold.ttf) format('truetype');
}
body {
  background-color: #eeeeee;
}
footer {
  background: #ffffff;
  border-top: 1px solid #dddddd;
  margin-top: 20px;
  padding: 10px 0px;
  min-height: 50px;
}
header {
  background-color: #fff;
  min-height: 100px;
}
header .ui.container {
  overflow: auto;
}
header .signature {
  float: right;
}
header .signature img {
  height: 100px;
}
header .ui.secondary.pointing.menu {
  border-bottom: 1px solid rgba(34, 36, 38, 0.05);
  margin-top: 2em;
}
header .ui.secondary.pointing.menu .item {
  border-width: 1px;
  color: rgba(34, 36, 38, 0.5);
  margin-bottom: -1px;
  padding-right: 0px;
  padding-left: 0px;
  margin: auto 1.18181818em;
}
header .ui.secondary.pointing.menu .item.active,
header .ui.secondary.pointing.menu .item:hover {
  border-color: rgba(34, 36, 38, 0.9);
  color: rgba(34, 36, 38, 0.9);
  font-weight: normal;
}
header .ui.submenu {
  font-size: 10px;
}
header .ui.submenu a {
  color: rgba(34, 36, 38, 0.4);
  margin: auto 1.18181818em;
}
.ui.grid.gallery {
  margin-top: 20px;
}
.ui.grid.gallery .thumbnail {
  min-height: 1px;
}
.ui.grid.gallery .thumbnail .wrapper {
  background-color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  padding: 15px 19px;
  padding: 15px;
  overflow: hidden;
}
.ui.grid.gallery .thumbnail .wrapper .image img {
  max-width: 100%;
  height: auto;
  position: relative;
}
.ui.grid.gallery .thumbnail .wrapper .image a.main {
  display: block;
  overflow: hidden;
  height: 200px;
}
.ui.grid.gallery .thumbnail .caption {
  padding-top: 10px;
  padding-bottom: 20px;
}
.ui.grid.gallery .thumbnail .caption .title {
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui.grid.gallery .thumbnail .caption .title a {
  color: #555555;
}
.ui.grid.gallery .thumbnail .caption .sub {
  color: #aaaaaa;
  padding-top: 5px;
}
