<div class="ui container">
  <p></p>
  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui piled segment">
        <h3 class="ui header">درباره‌ما</h3>
        <p>
          <strong>به نام آموزگار مهربانی وعشق</strong>
        </p>
        <p>
          با پشتوانه بیش از پنج سال ارائه خدمات طراحی و گرافیک به صورت حرفه ای با نام توکا گرافیک، از سال ۱۳۸۶با اخذ پروانه فعالیت کانون آگهی و تبلیغات از وزارت ارشاد اسلامی، با نام ماورای بنفش ، فعالیت خود را در زمینه فوق و همچنین مشاوره و تبلیغات با توجه به نیازهای
          جدید گسترده تر کردیم.
        </p>
        <p>
          ما معتقدیم با اتکاء بر تخصص، تعهد، خلاقیت و مشتری مداری می توانیم به عنوان مشاوری امین و قدرتمند برای تبلیغات و روابط عمومی مشتریان خود عمل نموده و حضوریموثر در کنارشان داشته باشیم.
        </p>
        <p>
          در این کانون جمعی از دست اندرکاران متخصص در امور تبلیغات حضور به هم رسانده اند تا پاسخگوی صمیمی و همراه شما در امور یاد شده باشند.
        </p>
        <p>
          ضمن عضویت حرفه ای در انجمن طراحان گرافیک ایران و شبکه طراحان گرافیک ایران، ماورای بنفش اهم فعالیتهای خود را در زمینه طراحی گرافیک و چاپ به طور تخصصی و پروژه های اطلاع رسانی تحت وب ، تبلیغات محیطی و بازرگانی،قرار داده است و با توجه به انتظارات جامعه، در
          زمینه های مختلف تبلیغاتی نیز از جمله انعقاد قرارداد همکاری با سازمان صدا و سیمای جمهوری اسلامی ایران و ارائه بیلبوردهای درون و برون شهری، فعالیت کانون بسط و گسترش یافته است.
        </p>
        <p>
          موفقیت ما در ارائه خدمات بهتر، مشاوره و بهره مندی از متخصصینی می باشد که خود در هر یک از امور تبلیغات، نشانی از خدمات ارزنده، بر سینه فرهنگ جامعه نشانده اند.
        </p>
        <p style="text-align: left">
          <strong>بنفشه شالچیان</strong>
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>
          گزیده ای از فعالیت های کانون ماورای بنفش در بخش طراحی گرافیک، چاپ و تبلیغات محیطی:
        </p>
        <ul>
          <li>پتروشیمی بندر امام</li>
          <li>بیمه آسیا</li>
          <li>بیمه سینا</li>
          <li>بیمه توسعه</li>
          <li>بنیاد فرهنگی مولانا</li>
          <li>گروه بهمن ماشین</li>
          <li>شرکت سرمایه گذاری ایرانگردی و جهانگردی</li>
          <li>بانک صادرات </li>
          <li>شرکت ارتباطات سیار (همراه اول)</li>
          <li>نمایشگاه تله کام 2010 و 2011 همراه اول </li>
          <li>شرکت نفت ستاره خلیج فارس </li>
          <li>شرکت گلد ایران </li>
          <li>شرکت پاناسونیک </li>
          <li>شرکت محور ماشین (کوماتسو) </li>
          <li>شرکت گسترش سرمایه گذاری ایران خودرو </li>
          <li>انجمن صنایع ریلی ایران </li>
          <li>اولین و دومین نمایشگاه حمل و نقل و صنایع ریلی RailExpo 2013-2014 </li>
          <li>شرکت مهندسین پتروسادیان </li>
          <li>شرکت الماس پیشرو </li>
          <li>شرکت مبلمان رادسیستم </li>
          <li>بنیاد مستضعفان </li>
          <li>کتاب پزشکی رافابس </li>
          <li>کتاب پزشکی داناک </li>
          <li>مؤسسه سرم سازی رازی </li>
          <li>شرکت دنتوس </li>
          <li>شرکت مبین وان </li>
          <li>شرکت نمایشگاهی میلاد نور </li>
          <li>مناسبت های مختلف برای شهرداری تهران </li>
        </ul>
      </div>
    </div>
  </div>
</div>
