<div class="ui container">
  <p></p>
  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui piled segment" style="direction: ltr; text-align: left">
        <h4 class="ui header">About</h4>
        <strong>In the Name of the Teacher of Love and kindness</strong>
<p>Beginning like this!</p>

<p>It is narrated that:" Acquaintance is an accident and Separation is a law"</p>

<p>We think to the first, Acquaintance, a beginning like this!</p>

<p>Presenting our services named Touka Graphic since 1382 (2003), we'll continue With getting our advertising agency license by Ministry of Culture & Islamic Guidance since 1386 (2007) under the name of Mavara Banafsh In this center, group of designing and advertising experts are gathered to respond sincerely to your needs in this respect.</p>

<p>No Compliment! Our honor is accompanying you on achieving your aims.</p>

Best regards,<br/>
B.Shalchian
      </div>
    </div>

  </div>

</div>
