<div class="ui container">
  <p></p>
  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui piled segment">
        <h3 class="ui header">تماس</h3>
        <br> از طریق اطلاعات زیر با ما در تماس باشید :
        <br>
        <br>
        <p>
          <strong>تلفن:</strong>
          <span style="direction: rtl">۱۷ ۴۱ ۵۱ ۸۸ ۹۸۲۱+</span>
        </p>
        <p>
          <strong>فاکس:</strong>
          <span style="direction: rtl">۴۱ ۴۶ ۵۳ ۸۸ ۹۸۲۱+</span>
        </p>
        <p>
          <strong>ایمیل:</strong>
          <span>info@mavaragraphic.com</span>
        </p>
      </div>
    </div>

  </div>

</div>
