<div class="column thumbnail" ng-repeat="project in projects">
  <div class="wrapper">
    <div class="image">
      <a href="/project/{{ project._id }}" class="main">
        <img alt="{{ project.name }}" ng-src="/uploads/{{ project._id }}/{{ project.pictures | MainPicture }}" class="show">
      </a>
    </div>
  </div>
  <div class="caption">
    <div class="title">
      <a href="/project/{{ project._id }}">{{ project.name }}</a>
    </div>
    <div class="sub">
      {{ project.date | date}}
    </div>
  </div>
</div>
