@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);

body {
  background-color: #eeeeee;
}

footer {
  background: #ffffff;
  border-top: 1px solid #dddddd;
  margin-top: 20px;
  padding: 10px 0px;
  min-height: 50px;
}

.container .pagination {
  
}
