@font-face{
  font-family: 'IRYekan';
    src: url('../fonts/IRYekan.eot'); /* IE9 Compat Modes */
    src: url('../fonts/IRYekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/IRYekan.woff') format('woff'), /* Modern Browsers */
         url('../fonts/IRYekan.ttf') format('truetype')
}

@font-face{
  font-family: 'IRYekanBold';
    src: url('../fonts/IRYekanBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/IRYekanBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/IRYekanBold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/IRYekanBold.ttf') format('truetype')
}

body {
  font-family: 'IRYekan';
}
